/* Overlay mờ khi mở bottom sheet */
.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.4);
opacity: 0;
pointer-events: none;
transition: opacity 0.3s ease;
}
.overlay.active {
opacity: 1;
pointer-events: auto;
}

/* Bottom sheet */
.bottom-sheet {
position: fixed;
bottom: -100%;
left: 0;
width: 100%;
max-height: 80%;
background: #fff;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
box-shadow: 0 -4px 12px rgba(0,0,0,0.2);
transition: bottom 0.3s ease;
overflow: auto;
}
.bottom-sheet.active {
bottom: 0;
}

/* Handle kéo */
.handle {
width: 40px;
height: 5px;
background: #ccc;
border-radius: 2.5px;
margin: 8px auto;
}
.bottom-title{
	font-weight: bold;
	font-size: 1.2em;
}
/* Nội dung demo */
.content {
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

.content > * {
	margin-bottom: 1em;
	display: none;
}

.content input {
	background: transparent;
	border: none;
	border-bottom: 1px dashed #555;
	padding: 0.3em;
	outline: none;
	transition: all 0.3s ease;
}

.content textarea {
	background: transparent;
	border: 1px dashed #555;
	padding: 0.3em;
	outline: none;
	transition: all 0.3s ease;
}

.content button {
  background: linear-gradient(90deg, #c192f5, #86c3eb);
  color: #fff;
  font-weight: bold;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 215, 128, 0.6);
    border-top-color: rgba(255, 215, 128, 0.6);
    border-right-color: rgba(255, 215, 128, 0.6);
    border-bottom-color: rgba(255, 215, 128, 0.6);
    border-left-color: rgba(255, 215, 128, 0.6);
  text-transform: uppercase;
}

.content button:hover {
  background: linear-gradient(90deg, #86c3eb, #c192f5);
  transform: scale(1.03);
  border-color: red;
}

.content .all{
	overflow-y: auto;
	height: 30vh;
}
.content .all div {
	font-size: 3vw;
	color: #555;
	padding: 1em 0;
}

.content .all div:not(:last-child) {
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
