/* Palette: #fae7e9, #000, #fff, #f4e4f1, #dc66de, #f89063 */

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;  
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;*/
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btnNumber{
  background-image: url('./backnumber.png');
  background-size: contain;
  background-position: center; /* căn giữa */
  background-repeat: no-repeat;
  text-align: center;
  padding: 12vh 4rem;
  color: white;
  margin-top: 1.5vh;
}

.btnNumber .monthName {
  font-size: 4vw;
  font-family: "Josefin Sans", sans-serif;
}

.btnNumber .dayNumber {
  font-size: 15vw;
  font-weight: bold;
}

.dvText{
  display: flex;
  flex-direction: column;
  /*! padding: 5vh 0; */
  /*! flex: 1; */
  justify-content: center;
  align-items: center;
  margin: 2vh 0 3vh 0;
}

.dvText > div{
  display: flex;
}

.dvText > div > div{
  flex: 1;
  text-align: center;
}

.dayOfWeek{
  font-weight: 900;
  justify-content: space-evenly;
  font-size: 6vw;
  letter-spacing: 2.5vw;
}

.keyWord{
  text-align: center;
  font-size: 3vw;
  margin-top: 1vh;
  justify-content: space-evenly;
  letter-spacing: 4vw;
}

.yearKeyword{
  font-size: 2.5vw;
  text-align: center;
  /*! margin-top: 2vh; */
  /*! flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

.dvPlan{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  padding-bottom: 2vh;
}

.dvPlan > div{
  flex: 1;
  text-align: center;
}

.dvPlan img{
  width: 10vw;
}

.clock-container {
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  margin: 0 6vw 5vh 6vw;
  flex: 1;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}

.card-info .dvInfo{
  flex: 1;
  margin: 0 0 0 1.5em;
  color: #555;
}

.card-info .dvInfo > div {
  padding: 1em 0;
}

.card-info .dvInfo > div:not(:last-child){
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.card-info .dvTools{
  padding: 1.5em;
  text-align: center;
}

.card-info .dvTools > div {
  cursor: pointer;
}

.card-info .dvTools > div:not(:last-child){
  margin-bottom: 1.2em;
}

.card-info .dvTools #btnAll{
  position: relative;
}

.card-info .dvTools #btnAll div{
  position: absolute;
  bottom: 48%;
  left: 0;
  right: 0;
  font-weight: bold;
  font-size: 0.9em;
  color: red;
}


.text-gradient {
  background: linear-gradient(90deg, #c192f5, #86c3eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
