/* Palette: #fae7e9, #000, #fff, #f4e4f1, #dc66de, #f89063 */
/*background: linear-gradient(90deg, rgb(193,146,245, 1), rgb(134,195,235, 1));*/

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;  
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;*/
  background-repeat: no-repeat;
}

.spinner-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Spinner */
.spinner {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 4px solid rgb(193,146,245, 1);
  border-top: 4px solid rgb(134,195,235, 1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.one-day{
  display: flex;
  flex-direction: column;  
  height: 100vh;
}

.day-info{
  background-image: url('./backnumber.png');
  background-size: contain;
  background-position: center; /* căn giữa */
  background-repeat: no-repeat;
  text-align: center;
  padding: 12vh 4rem;
  color: white;
  margin-top: 1.5vh;
}

.day-info .monthName {
  font-size: 4vw;
  font-family: "Josefin Sans", sans-serif;
}

.day-info .dayNumber {
  font-size: 15vw;
  font-weight: bold;
}

.day-of-week{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh 0 3vh 0;
}

.day-of-week > div{
  display: flex;
}

.day-of-week > div > div{
  flex: 1;
  text-align: center;
}

.dayOfWeek{
  font-weight: 900;
  justify-content: space-evenly;
  font-size: 6vw;
  letter-spacing: 2.5vw;
}

.keyWord{
  text-align: center;
  font-size: 3vw;
  margin-top: 1vh;
  justify-content: space-evenly;
  letter-spacing: 4vw;
}

.yearKeyword{
  font-size: 2.5vw;
  text-align: center;
  /*! margin-top: 2vh; */
  /*! flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

.person-info{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  padding-bottom: 2vh;
  margin: 0 6vw;
}

.person-info > div{
  flex: 1;
  text-align: right;
}

.person-info .person-name {
  font-size: 1.5em;
}

.person-info .person-keyword {
  font-size: 0.9em;
  color: #555;
}

.person-info > div div:not(:last-child) {
  margin-bottom: 0.5vh;
}

.person-info img{
  width: 10vw;
}

.clock-container {
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  margin: 0 6vw 5vh 6vw;
  flex: 1;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}

.card-info .note-info{
  flex: 1;
  margin: 0 0 0 1.5em;
  color: #555;
}

.card-info .note-info > div {
  padding: 1em 0;
}

.card-info .note-info > div:not(:last-child){
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.card-info .card-tools{
  padding: 1.5em;
  text-align: center;
}

.card-info .card-tools > div {
  cursor: pointer;
}

.card-info .card-tools > div:not(:last-child){
  margin-bottom: 1.2em;
}

.card-info .card-tools #btnAll{
  position: relative;
}

.card-info .card-tools #btnAll div{
  position: absolute;
  bottom: 48%;
  left: 0;
  right: 0;
  font-weight: bold;
  font-size: 0.9em;
  color: red;
}


.text-gradient {
  background: linear-gradient(90deg, #c192f5, #86c3eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide-div {  
  /* hiệu ứng trượt */
  transform: translateX(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}

/* trạng thái ẩn */
.slide-div.hidden {
  transform: translateX(-100%); /* trượt sang trái */
  opacity: 0;
}

#day{
/*  display: none;*/
}

#month{
  display: none;
}

.one-month {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 0 8vw;
}

.month-info{
  margin: 15vh 0 6vh 0;
}

.month-info > div:first-child {
  font-weight: 900;
  font-size: 6vw;
  letter-spacing: 2.5vw;
}

.month-info > div:last-child {
  font-size: 4vw;
  /*! margin-top: 1vh; */
  letter-spacing: 3vw;
}

.month-details {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2vh 1vh;
  justify-content: space-between;
}

.month-details > div {
  flex: 1;
  text-align: center;
}

#days-header {
  margin-bottom: 2vh;
  font-size: 3.5vw;
}

#days-container{
  color: #555;
}
#days-container .day-card {
  font-weight: 400;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, rgb(193,146,245, 0.3), rgb(134,195,235, 0.3));
  padding: 0.3em;
  border-radius: 50%;
  cursor: pointer;
}

#days-container .day-card.choice-day {
  background: linear-gradient(90deg, rgb(193,146,245, 1), rgb(134,195,235, 1));
  outline: 3px solid #c192f5;
  color: white !important;
  font-weight: bold;
  border: 3px solid #fff;
}

#month .person-info{
  flex: 1;
  align-items: flex-end;
}

#month .note-info{
  margin: 0 1.5em;
}
